.input {
    width: 100%;
    padding: 5px;
    margin: 5px 0 7px 0;
    display: inline-block;
    background: #f1f1f1;
  }
  .registerForm{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .register{
    width: 25%;
    margin: 0px 24px;
  }
  .btn{
    width: 35%;
    height: 25px;
    text-align: center;
    border-radius: 35px;
    background-color: rgb(49, 154, 240);
  }
  .cancelbtn{
    width: 35%;
    height: 25px;
    text-align: center;
    margin-left: 5px;
    border-radius: 35px;
    background-color: rgb(92, 95, 97);
  }
  .roles{
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
 