.card {
    /* width: 100%; */
    /* display: grid; */
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f4f5f6;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
    height: 240px;
}

.btmCard {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addBtn {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #ffdf03;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    border: 1px solid;
}

.addIcon {
    cursor: pointer;
    filter: invert(1);
}