
.card {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 5px;
  text-align: center;
  background-color: #f1f1f1;
  cursor: pointer;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 5px;
}

.row {
  margin: 0 -5px;
}

.productname{
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}