.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(80, 69, 69);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }